

body#tinymce.wp-editor .csColumn 				{ background: #ebeaea; box-sizing:border-box; border:1px solid #808080; }
body#tinymce.wp-editor .csColumn img			{ width:100%; height:auto; }


body#tinymce.wp-editor { 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 10px; 

}

body#tinymce.wp-editor a {
    color: #ff0000;
}