body { background: #000; }



/* HEADER */
header  { width:100%; height: 56px; background:#fff; position: fixed; top:0; left:0; z-index:250;  font-family: 'Pathway Gothic One','sans-serif'; text-transform: uppercase; color:#5e5e5e; text-align: center; line-height: 40px; font-size:20px; border-bottom: 1px solid #5e5e5e; }

header#top { position: relative; border-bottom: 1.5px solid #e8e8e8; }

header#top #primary { width: 1000px; display: block; margin: 0 auto; }

header#top .menu-home-menu-container { height: 56px; }

header#top nav { position: relative; top: 0px; left: 0px; height: 56px; margin: 0; padding: 0; }
header#top nav:before { display: none; }
header#top nav ul { margin: 0 auto; padding: 0; height: 55px; width: 1000px; display: inline-block; position: relative; }
header#top nav ul li { margin: 0 62px 0 0; padding: 0; float: left; height: 55px; transition: opacity .5s linear; -webkit-transition: opacity .5s linear; }
header#top nav ul li:last-child { margin: 0 30px 0 0; }
header#top nav ul li a { color: #000; margin: 0; padding: 5px; text-decoration: none; line-height: 55px; }
header#top nav ul li a:hover,
header#top nav ul li a:hover:before { color: #5e5e5e; }

header#top nav ul li:first-child a { color: #000; text-indent: -5000px !important; display: block; width: 40px; height: 55px; }
header#top nav ul li:first-child a:before { text-indent: 0; font-size: 22px; display: block; position: absolute; top: 16px; width: 40px; height: 39px; }

header#top #search { position: relative; top: -56px; height: 0px; overflow: visible; width: 1000px; display: block; margin: 0 auto; }
header#top #search .search-form { position: absolute; z-index: 5; right: 35px; top: 12px; height: 39px; }
header#top #search .search-submit { height: 31px; font-family: 'Pathway Gothic One','sans-serif'; font-size: 20px; text-transform: uppercase; }
header#top #search .search-field,
header#top #search .search-submit { padding: 4px 25px; display: none; position: absolute; top: 0px; right: 2px; border-radius: 0 35px 35px 0; border: none; background: #000; color: #fff; }
header#top #search .search-field { font-family: Verdana, sans-serif; font-weight: normal; height: 23px; font-size: 14px; width: 201px; border: none; background: #e5e5e5; color: #000; border-radius: 35px; padding: 4px 96px 4px 14px; }
header#top #search .search-toggle { color: #000 padding: 0; margin: 0; display: block; border: none; cursor: pointer; position: absolute; right: 10px; top: 16px; width: 26px; height: 21px; z-index: 10; }
header#top #search .search-toggle:before { color: #000; margin-top: 1px }
header#top #search .search-toggle:focus,
header#top #search .search-toggle:focus:before,
header#top #search .search-toggle:hover,
header#top #search .search-toggle:hover:before { outline: none; color: #5e5e5e; }
header#top #search .search-field:focus { outline: none; }

header#top.searching nav ul li { opacity: 0; }
header#top.searching nav ul li:first-child { opacity: 1; }
header#top.searching #search .search-field,
header#top.searching #search .search-submit { display: block; }


/* HEADER & HOMEPAGE MOBILE */

@media all and (max-width: 1000px){
  .logowrap { width: 100%; margin: 0; }
  .logowrap .logo { width: 80px; height: 102px; margin: 24px auto; display: block; }

  header#top.searching nav ul li { opacity: 1; }
  header#top.searching #search .search-field,
  header#top.searching #search .search-submit { opacity: 0; }
  header#top.has-menu.searching #search .search-field,
  header#top.has-menu.searching #search .search-submit { opacity: 1; }

  body { min-width: 280px; }
  header#top { position: absolute; border-bottom: none; background: none; }
  header#top #primary { display: block; width: 100%; margin: 0; }
  header#top nav { display: block; position: absolute; }
  header#top nav:before { padding: 12px 0 0 10px; color: #000; font-size: 30px; display: block; position: absolute; top: 0px; left: 0px; width: 45px; height: 45px; cursor: pointer; }
  header#top nav ul { display: block; overflow: hidden; max-width: 0px; right: 100%; opacity: 0; transition: max-width .5s linear; transition: opacity .5s linear; }
  header#top #search { display: block; opacity: 0; width: 0px; transition: opacity .3s linear .5s; }
  header#top nav ul li { border-bottom: 1.5px solid #e8e8e8; text-align: left; margin: 3px; padding: 0; float: none; height: auto; transition: none; -webkit-transition: none; }
  header#top nav ul li a { display: block; width: 100%; height: 100%; }
  header#top nav ul li:first-child { border-bottom: none; }
  header#top nav ul li:last-child { margin: 0; }
  header#top #search .search-field,
  header#top #search .search-submit { display: block;}
  header#top #search .search-toggle { display: none;}

  header#top.has-menu,
  header#top.has-menu #primary { height: 100%; }
  header#top.has-menu nav ul { padding-top: 30px; position: absolute; z-index: 999; display: block; top: 0px; left: 0px; width: 100%; max-width: 1000px; opacity: 1; height: 100%; min-height: 100%; background: #fff;  }
  header#top.has-menu #search { z-index: 1001; opacity: 1; min-width: 300px; width: auto; overflow: visible; display: block; position: absolute; height: 50px; top: 45px; left: 0px; right: 0px; }
  header#top.has-menu #search .search-form { display: block; overflow: hidden; margin: 0 auto; height: 38px; width: 314px; position: absolute; left: 50%; margin-left: -157px; }
  header#top #search .search-field { position: absolute; }
  header#top #search .search-submit { position: absolute; }
  header#top.has-menu nav:before { position: absolute; left: auto; height: 36px; right: 0px; z-index: 1000; padding-right: 10px; content: "\e60f"; font-size: 18px; padding-top: 16px; }
}

@media all and (min-width: 520px) and (max-width: 1000px){
  header#top.has-menu #search .search-form { width: 514px; position: absolute; left: 50%; margin-left: -257px; }
  header#top.has-menu #search .search-field { position: absolute; width: 400px; }
}
